<%- include("../partials/head") %>

<%- include("../partials/forms/heading", { title: "Activate Login" }) %>

<div class="mt-1">
  <form action="/activation" method="POST">
    <!-- activationCode -->
    <%- include("../partials/forms/inputs/activation-code") %>
    <!-- oldPassword -->
    <%- include("../partials/forms/inputs/old-password") %>
    <!-- newPassword -->
    <%- include("../partials/forms/inputs/new-password") %>
    <!-- newPasswordConfirmation -->
    <%- include("../partials/forms/inputs/new-password-confirmation") %>
    <!-- email -->
    <%- include("../partials/forms/inputs/email") %>
    <!-- phoneNumber -->
    <%- include("../partials/forms/inputs/phone-number") %>
    <!-- submit:confirm -->
    <%- include("../partials/forms/toolbars/confirmation") %>
    <!-- errors -->
    <%- include("../partials/forms/errors") %>
  </form>
</div>

<%- include("../partials/footer") %>