<%- include('../partials/head') %>

  <h1 id="login-title" class="font-medium self-center text-lg sm:text-xl text-gray-600 my-4">Activate Login</h1>
  <div class="mt-1">
    <form action="/activation" method="POST">
      <!-- activationCode -->
      <div class="flex flex-col mb-2">
        <label for="activationCode" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">activationCode:</label>
        <div class="relative">
          <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14" />
            </svg>
          </div>
          <input
            class="text-sm sm:text-base placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-brandBlueDark transition ease-in-out"
            type="text" id="activationCode" name="activationCode" placeholder="activationCode" value="<%= typeof data !== 'undefined' && typeof data.activationCode !== 'undefined' ? data.activationCode
            : '' %>" />
        </div>
        <%if (typeof validationErrors !=='undefined' && typeof validationErrors.activationCode !=='undefined' ) { %>
          <p class="font-medium self-end text-xs sm:text-sm text-red-700 mt-2 text-end">
            <%= validationErrors.activationCode.msg %>
          </p>
          <% } %>
      </div>
      <!-- oldPassword -->
      <div class="flex flex-col mb-4">
        <label for="oldPassword" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">oldPassword:</label>
        <div class="relative">
          <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400">
            <span>
              <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path
                  d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
              </svg>
            </span>
          </div>
          <input
            class="text-sm sm:text-base placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-brandBlueDark transition ease-in-out"
            type="password" id="oldPassword" name="oldPassword" placeholder="oldPassword" value="<%= typeof data !== 'undefined' && typeof data.oldPassword !== 'undefined' ? data.oldPassword
            : '' %>" />
        </div>
        <%if (typeof validationErrors !=='undefined' && typeof validationErrors.oldPassword !=='undefined' ) { %>
          <p class="font-medium self-end text-xs sm:text-sm text-red-700 mt-1 text-end">
            <%= validationErrors.oldPassword.msg %>
          </p>
          <% } %>
      </div>
      <!-- newPassword -->
      <div class="flex flex-col mb-4">
        <label for="newPassword" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">newPassword:</label>
        <div class="relative">
          <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400">
            <span>
              <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path
                  d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
              </svg>
            </span>
          </div>
          <input
            class="text-sm sm:text-base placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-brandBlueDark transition ease-in-out"
            type="password" id="newPassword" name="newPassword" placeholder="newPassword" value="<%= typeof data !== 'undefined' && typeof data.newPassword !== 'undefined' ? data.newPassword
            : '' %>" />
        </div>
        <%if (typeof validationErrors !=='undefined' && typeof validationErrors.newPassword !=='undefined' ) { %>
          <p class="font-medium self-end text-xs sm:text-sm text-red-700 mt-1 text-end">
            <%= validationErrors.newPassword.msg %>
          </p>
          <% } %>
      </div>
      <!-- newPasswordConfirmation -->
      <div class="flex flex-col mb-4">
        <label for="newPasswordConfirmation"
          class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">newPasswordConfirmation:</label>
        <div class="relative">
          <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400">
            <span>
              <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path
                  d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
              </svg>
            </span>
          </div>
          <input
            class="text-sm sm:text-base placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-brandBlueDark transition ease-in-out"
            type="password" id="newPasswordConfirmation" name="newPasswordConfirmation"
            placeholder="newPasswordConfirmation" value="<%= typeof data !== 'undefined' && typeof data.newPasswordConfirmation !== 'undefined' ? data.newPasswordConfirmation
            : '' %>" />
        </div>
        <%if (typeof validationErrors !=='undefined' && typeof validationErrors.newPasswordConfirmation !=='undefined' )
          { %>
          <p class="font-medium self-end text-xs sm:text-sm text-red-700 mt-1 text-end">
            <%= validationErrors.newPasswordConfirmation.msg %>
          </p>
          <% } %>
      </div>
      <!-- submit:confirm -->
      <div class="flex flex-row gap-6">
        <div class="basis-1/2">
        </div>
        <div class="basis-1/2">
          <input
            class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-brandBlueDark hover:bg-brandBlue rounded-lg py-2 w-full transition duration-150 ease-in uppercase"
            type="submit" id="reject" name="submit" value="Confirm" />
          </input>
        </div>
      </div>
      <!-- errors -->
      <%if (locals.error) { %>
        <div class="font-medium self-end text-xs sm:text-sm text-red-700 mt-1 text-end">
          <%= error %>
        </div>
        <% } %>
    </form>
  </div>


  <%- include('../partials/footer') %>