<%- include("../partials/head") %>

<%- include("../partials/forms/heading", { title: "Change Password" }) %>

<div class="mt-1">
  <form action="/change-password" method="POST">
    <!-- username -->
    <%- include("../partials/forms/inputs/username") %>
    <!-- oldPassword -->
    <%- include("../partials/forms/inputs/old-password") %>
    <!-- newPassword -->
    <%- include("../partials/forms/inputs/new-password") %>
    <!-- newPasswordConfirmation -->
    <%- include("../partials/forms/inputs/new-password-confirmation") %>
    <!-- submit:confirm -->
    <%- include("../partials/forms/toolbars/confirmation") %>
    <!-- errors -->
    <%- include("../partials/forms/errors") %>
  </form>
</div>

<%- include("../partials/footer") %>