<%- include("../partials/head") %>

  <%- include("../partials/forms/heading", { title: "An application requests access to your data!" }) %>

  <div class="mt-1">
    <form action="#" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <input type="hidden" name="challenge" value="<%= challenge %>" />

      <!-- logoUri -->
      <%if (requested_client.logo_uri) { %>
        <div class="mx-28">
          <img src="<%= requested_client.logo_uri %>" />
        </div>
      <% } %>

      <h1 class="font-medium self-center text-xs sm:text-base text-gray-600 mt-4">
        Hi <strong>
        <%= user %>
        </strong>, application <strong>
        <%= requested_client.client_name || requested_client.client_id %>
        </strong> wants access resources on your behalf and to:
      </h1>

      <% for(let [index,scope] of requested_scope.entries() || []){ %>
        <div class="flex justify-between items-center mt-2">
          <div class="form-group form-check">
            <%- include("../partials/forms/base/checkbox", {
              fieldType:"submit",
              fieldName: "grant_scope",
              fieldId: scope,
              fieldValue: scope,
              fieldLabel: scope,
            }) %>
          </div>
        </div>
      <%} %>

      <h1 class="font-medium self-center text-xs sm:text-base text-gray-600 mt-4">
        Do you want to be asked next time when this application wants to access your data? The application will
        not be able to ask for more permissions without your consent.
      </h1>

      <div class="flex justify-between items-center mt-4">
        <div class="form-group form-check">
          <%- include("../partials/forms/base/checkbox", {
            fieldType:"submit",
            fieldName: "submit",
            fieldId: "remember",
            fieldValue: "1",
            fieldLabel: "Do not ask me again",
          }) %>
        </div>
      </div>

    <!-- submit:confirm -->
    <%- include("../partials/forms/toolbars/allow-deny") %>

    <%if (requested_client.tos_uri || requested_client.tos_uri) { %>
      <div class="flex flex-row gap-6 mt-4">
        <%if (requested_client.policy_uri) { %>
          <div class="basis-1/2">
            <a href="<%= requested_client.policy_uri %>" target="_blank"
              class="inline-flex items-center font-bold text-brandBlueDark hover:text-brandBlue text-xs text-right">
              <span>Policy</span>
            </a>
          </div>
        <% } %>
        <%if (requested_client.tos_uri) { %>
          <div class="basis-1/2">
            <a href="<%= requested_client.tos_uri %>" target="_blank"
              class="inline-flex items-center font-bold text-brandBlueDark hover:text-brandBlue text-xs text-left">
              <span>Terms of Service</span>
            </a>
          </div>
        <% } %>
      </div>
    <% } %>
    </form>
  </div>

<%- include("../partials/footer") %>