<%- include("../partials/head") %>

  <%- include("../partials/forms/heading", { title: "Please log in" }) %>

  <div class="mt-1">
    <form action="#" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <input type="hidden" name="challenge" value="<%= challenge %>" />
      <!-- username -->
      <%- include("../partials/forms/inputs/username") %>
      <!-- password -->
      <%- include("../partials/forms/inputs/password") %>
      <!-- submit:confirm -->
      <%- include("../partials/forms/toolbars/login-deny") %>
      <!-- errors -->
      <%- include("../partials/forms/errors") %>
      <!-- remember -->
      <div class="flex justify-between items-center mt-4">
        <div class="form-group form-check">
          <%- include("../partials/forms/base/checkbox", {
            fieldType:"submit",
            fieldName: "remember",
            fieldId: 'remember',
            fieldValue: '1',
            fieldLabel: 'Remember me',
          }) %>
        </div>
        <!-- <a href="#!" class="text-gray-800">Forgot password?</a> -->
      </div>
    </form>
  </div>

  <!--
  <div class="flex justify-center items-center mt-4">
    <a href="#" target="_blank"
      class="inline-flex items-center font-bold text-brandBlueDark hover:text-brandBlue text-xs text-center">
      <span>
        <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          viewBox="0 0 24 24" stroke="currentColor">
          <path d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
        </svg>
      </span>
      <span class="ml-2">You don"t have an account?</span>
    </a>
  </div>
  -->

<%- include("../partials/footer") %>