<%- include("../partials/head") %>

  <%- include("../partials/forms/heading", { title: "Do you wish to log out?" }) %>

  <div class="mt-1">
    <form action="#" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <input type="hidden" name="challenge" value="<%= challenge %>" />
      <!-- toolbar:yes/no -->
      <%- include("../partials/forms/toolbars/yes-no") %>
      <!-- errors -->
      <%- include("../partials/forms/errors") %>
    </form>
  </div>

<%- include("../partials/footer") %>