<div class="flex flex-col mb-2">
  <label for="<%= fieldId ? fieldId : '' %>" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">
    <%= fieldLabel ? fieldLabel : '' %>
  </label>
  <div class="relative">
    <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14" />
      </svg>
    </div>
    <input
      class="text-sm sm:text-base placeholder-gray-500 pl-10 pr-4 rounded-lg border border-gray-400 w-full py-2 focus:outline-none focus:border-brandBlueDark transition ease-in-out"
      type="<%= fieldType ? fieldType : '' %>"
      id="<%= fieldId ? fieldId : '' %>"
      name="<%= fieldId ? fieldId : '' %>"
      value="<%= fieldValue ? fieldValue : '' %>"
      placeholder="<%= fieldPlaceholder ? fieldPlaceholder : '' %>"
    />
  </div>
  <%if (typeof validationErrorMessage !=='undefined' ) { %>
    <p class="font-medium self-end text-xs sm:text-sm text-red-700 mt-2 text-end">
      <%= validationErrorMessage %>
    </p>
  <% } %>
</div>